<html>
    <head>
        <title>Main page</title>
    </head>
    <body>
        <p>
            Hello! <br>

            This is a simple web page for my MLDS ML task (HW 1). Below is the form
            to submit your data. <br>
        </p>

        <form action="/upload_file" method="post" enctype="multipart/form-data">
            Attach a .json file here: <br>
            <input type="file" name="file"> <br> <br>
            <button type="submit">Upload</button>
        </form>

    </body>
</html>